$colors: (
  "white": #fff,
  "green": #27ae60,
  "blue": #2980b9,
  "purple": #8e44ad,
  "midnight": #34495e,
  "yellow": #f1c40f,
  "orange": #e67e22,
  "red": #e74c3c,
  "gray": #95a5a6,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}
